.background {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: solid 1px;
}

.title {
	position: absolute;
	top: 0;
	width: 100%;
	height: 200px;
	z-index: 1;
	border: solid 1px;
}

.title_text {
	font-size: 100px;
	font-family: "Nico Moji";
	text-align: center
}

.container {
	position: absolute;
	top: 200px;
	width: 100%;
	height: auto;
	z-index: 1;
	border: solid 1px;
	overflow-wrap : break-word;
}

.contents {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content {
}

.contents .contents_title {
	font-size: 36px;
}

.contents li {
	font-size: 24px;
}

.personal_infomations {
	width: 1000px;
	border: solid 1px;
}

.skills {
	width: 1000px;
	border: solid 1px;

}

.portfolios {
	width: 1000px;
	border: solid 1px;

}

.services {
	width: 1000px;
	border: solid 1px;

}
