@import url(https://fonts.googleapis.com/css?family=Chewy);
/* not mobile */

@media screen and (min-width:781px) {
	body {
		text-align: center;
	}
	.title {
		background-color: #114400;
		margin: 10px 0 10px 0;
		padding: 5px;
		border: 9px solid #a60;
		border-radius: 3px;
		box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
		line-height: 1.9;
	}
	.title__text_pop_font {
		font-size: 100px;
		font-family: 'Chewy', cursive;
		margin-top: 0;
		color: white;
	}
}

/* mobile */

@media screean and (max-width:480) {}